body {
  margin: 0px 0px 0px 0px;
  background-color: #141314;
  }

p {
  margin-top: 20px;
}

.largeType {
  font-family: 'Julius Sans One', Helvetica, sans-serif;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #CC8AC3;
}

.smallType {
  width: 500px;
  font-size: 14px;
  line-height: 28px;
  color: #bbbbbb;
  fill: #bbbbbb;
}

.unconfirmed {
  fill: #D100B5;
  stroke-width: 1;
  stroke: #D100B5;
}

.confirmed {
  fill: #00C788;
  fill-opacity: 1;
}

#intro-container {
  background-color: #000000;
  opacity: 0.5;
  z-index: 2;
}

#intro-text {
  padding: 50px 50px 50px 50px;
  opacity: 0;
  z-index: 2;
  /*background-color: #312E31;*/
}

#viz-canvas {
  padding: 10px 10px 10px 10px;
  background-color: #141314;
}

path {
  stroke: #fff;
}

path:first-child {
  fill: yellow !important;
}

circle {
  fill: #000;
  pointer-events: none;
}

.q0-9 { fill: rgb(197,27,125); }
.q1-9 { fill: rgb(222,119,174); }
.q2-9 { fill: rgb(241,182,218); }
.q3-9 { fill: rgb(253,224,239); }
.q4-9 { fill: rgb(247,247,247); }
.q5-9 { fill: rgb(230,245,208); }
.q6-9 { fill: rgb(184,225,134); }
.q7-9 { fill: rgb(127,188,65); }
.q8-9 { fill: rgb(77,146,33); }
