body {
  margin: 0px 0px 0px 0px;
  background-color: #141314;
  }

p {
  margin-top: 20px;
}

.header {
  background: #DDDDDD;
  height: 140px;
  position:relative;
  width: 100%;
}

.header > .title {
  float: left;
}
.header > .side {
  float: right;
}

.bucket {
  background: #DDDDDD;
  width: 100%;
  height: 500px;
  padding: 0;
  
  margin: auto;
}

svg {
  margin: auto;
  display: block;
}

.blocks {
  position: relative;
  background: #2D2D2D;
  width: 100%;
  height: auto;
  padding: 0;
  
}

.blocks > svg {
  position: absolute;
  top 0;
}


.largeType {
  font-family: 'Julius Sans One', Helvetica, sans-serif;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #CC8AC3;
}

.smallType {
  width: 500px;
  font-size: 14px;
  line-height: 28px;
  color: #bbbbbb;
  fill: #bbbbbb;
}

.unconfirmed {
  fill: #D100B5;
  stroke-width: 1;
  stroke: #D100B5;
}

.confirmed {
  fill: #00C788;
  fill-opacity: 1;
}

#intro-container {
  background-color: #000000;
  opacity: 0.5;
  z-index: 2;
}

#intro-text {
  padding: 50px 50px 50px 50px;
  opacity: 0;
  z-index: 2;
  /*background-color: #312E31;*/
}

#viz-canvas {
  padding: 10px 10px 10px 10px;
  background-color: #141314;
}

path {
  stroke: #fff;
}

circle {
  fill: #000;
  pointer-events: none;
}

svg.block {
  border: 1px solid #5D5D5D;
  height: 60px
}

.q0-9 { fill: rgb(10,10,10); }
.q1-9 { fill: rgb(50,50,50); }
.q2-9 { fill: rgb(70,70,70); }
.q3-9 { fill: rgb(100,100,100); }
.q4-9 { fill: rgb(120,120,120); }
.q5-9 { fill: rgb(140,140,140); }
.q6-9 { fill: rgb(160,160,160); }
.q7-9 { fill: rgb(180,180,180); }
.q8-9 { fill: rgb(200,200,200); }


.hover {
  width: 200px;
  height: 100px;
  padding: 10px;
  background: rgb(100,100,120);
  opacity: 0;
  /*display: none;*/

}

.hover > div {
  display: block;
  float: left;
  clear: both;
}
