body {
  margin: 0px 0px 0px 0px;
  background-color: #141314;
  }

  #intro-cover {
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
  }

  #intro-text {
    padding: 50px 50px 50px 50px;
    opacity: 0;
    z-index: 2;
    /*background-color: #312E31;*/
  }

  .viz {
    padding: 10px 10px 10px 10px;
    background-color: #141314;
  }

  .largeType {
    font-family: 'Julius Sans One', Helvetica, sans-serif;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #CC8AC3;
  }

  .smallType {
    margin: 50px 200px 0px 200px;

    font-size: 18px;
    /*font-style: italic;*/
    line-height: 36px;
    color: #bbbbbb;
    fill: #bbbbbb;
  }

  #unconfirmed-one {
    padding-top: 20px;
  }
  
  .unconfirmed {
    fill: #D100B5;
    stroke-width: 1;
    stroke: #D100B5;
  }
  
  .confirmed {
    fill: #00C788;
    fill-opacity: 1;
  }